.error-message {
    font-size: 1.5rem;
    padding: 1.5rem 5rem 1.5rem 2rem;
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 60rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(#000, 0.1);
    border-radius: 2rem;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(-2rem);
    transition: 0.2s ease-in-out;
    min-width: 32rem;
}

.error-message--shown {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.error-message__close {
    background-image: linear-gradient(to right bottom, $main-color-1, $main-color-2);
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: 0.3s ease-in-out;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: .9rem;
        left: .3rem;
        width: 1.3rem;
        height: .1rem;
        background-color: #fff;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }

    &:hover {
        transform: scale(1.1);
    }
}
